<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= whoopsie_config({user_id: 123}) %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>

  <script>
    window.loggingInformation = {time: (new Date()).toString(), location: window.location.toString()};
  </script>
</body>
</html>
